 
<style>
 
 body{

 	background-color: #e9edef;
 }
 
.topcategories {
  overflow: auto;
  list-style-type: none;
}
 
.liactive {
  height: 25px;
  float: left;
  margin-right: 0px;
  border-right: 1px solid #aaa;
  padding: 0 20px;
}
 
.liactive:last-child {
  border-right: none;
}
 
.liactive a {
  text-decoration: none;
  color: #ccc;
  font: 100%/1 Helvetica, Verdana, sans-serif;
  text-transform: uppercase;
 
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
 
.liactive a:hover {
  color: #666;
}
 
.liactive.active a {
  font-weight: bold;
  color: #333;
}


</style>




  		<div class="container">
  			

		  		<div>
		 			<ul class="topcategories" style="margin-left:20%"> 
		  				<li class="liactive"> <%= link_to "Toutes les offres", user_dashboard_path %></li>
		  					<% Category.all.each do |category| %>
		  				<li class="liactive"><%= link_to category.name, jobs_path(category: category.name) %></li>
		  				<% end %>


		  			</ul>	
		  		</div>	
			</div>
		</div>
	