<div class="container">

  <div class="row">
    <div class="w3-col m5 w3-container">

        <h1>Nouvelle offre </h1>

        <%= render 'jobs/form'%>

        <%= link_to "home", root_path %>

    </div>
  </div>
</div>